/* src/styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.progress-bar {
  width: 70%;
  justify-self: center;
  margin: auto;
  margin-top: 40px;
  transition: 1s ease-in-out;
}